My workflow(n8n).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de61c276-9f49-43af-95c9-8ee954803309",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "fd3b839b-4676-4bd2-afbb-4cfcacb5e0bb",
      "name": "Webhook",
      "webhookId": "de61c276-9f49-43af-95c9-8ee954803309"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.action}}",
                    "rightValue": "islisted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7e0372bf-c14d-4dcb-9a41-891dbc0fe219"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bcb7596-1f4e-417d-a838-b17b9f49cfa8",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "isUpload",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96ceae8d-3758-4f11-b4c1-08f1b58c0f73",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "Unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        208,
        0
      ],
      "id": "2287fed0-49a1-4f28-bb21-a2f3172d4b06",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        -48
      ],
      "id": "919ced5f-824d-41ee-8f08-2b0e6697aeab",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nnRhRzF7oJo8cMUw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918850452049",
        "toWhatsapp": true,
        "message": "cant Process",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "53670775-5ad7-4895-99ee-3c4499d9edb4",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "SKh1UAIQMNa012QP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        80
      ],
      "id": "8ece6c3e-e153-429d-8d9a-fffa8bdf2ebc",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nnRhRzF7oJo8cMUw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+918850452049",
        "toWhatsapp": true,
        "message": "=📁 Files in /{{ $json.folderName }}:\n{{ $json.fileListMsg }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        656,
        -96
      ],
      "id": "ecbbde0d-03cd-407c-91eb-40e561f5a15b",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "SKh1UAIQMNa012QP",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.mediaUrl}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        112
      ],
      "id": "c7c3170b-67ad-468c-aad6-e990dcba19d5",
      "name": "HTTP Request",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "=+918850452049",
        "toWhatsapp": true,
        "message": "Not Found",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        656,
        288
      ],
      "id": "53ecd433-d94a-4862-bff7-01440181b98b",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "SKh1UAIQMNa012QP",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e38fa8f-8816-47fb-99b7-687079e1d687",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "833a4b3e4f61736d8b398dd053ecbb4243f238fa6fa40aa100e8c5e8db1c925a"
  },
  "id": "Q9oeoiF9LmPIDcKy",
  "tags": []
}